{% extends 'base.html' %}
{% block content %}
<h1 class="about-h1">About</h1>
<br>
<p class="about-text">
    Python developer with experience building reliable and scalable applications. In addition, I am also proficient in C# .NET MAUI, HTML, and CSS.
    <br><br>
    Strong focus on quality of work, self-development and clear communication. Convinced that one can learn and excel in anything, if they dedicate enough time to it with a strong desire to achieve
    <br><br>
    Apart from being productive, solving problems and building new solutions, I love reading books, walking.
</p>
<br>
<p class="about-text">This website was created to demonstrate my skills in developing <mark class="mark">Python Flask</mark> applications, which will help the employer assess my professional training.
    <br>The main programming languages used for this project are <mark class="mark">Python</mark>, a bit of <mark class="mark">JS</mark>, <mark class="mark">HTML</mark>, <mark class="mark">CSS</mark>, and <mark class="mark">Bootstrap</mark> for a more attractive design.</p>
<p class="about-text">Here, you can browse through my photographs. I would be delighted if my works could be of use to someone else for their projects. However, please note that if you use my photographs, you need to include a link to this website as the source.</p>
<br><br>
<h1 class="about-h1">О проекте</h1>
<br>
<p class="about-text">
    Python разработчик с опытом создания надежных и масштабируемых приложений. Кроме того, я хорошо владею C# .NET MAUI, HTML и CSS.
    <br><br>
    Сильная фокусировка на качество работы, саморазвитие и четкую коммуникацию. Убежден, что можно научиться и преуспеть в чем угодно, если посвятить делу достаточно времени с сильным желанием достичь.
    <br><br>
    Помимо того, что я продуктивно работаю, решаю проблемы и разрабатываю новые решения, я люблю читать книги, гулять.
</p>
<br>
<p class="about-text">Данный веб-сайт был создан с целью продемонстрировать мои навыки в разработке приложений на <mark class="mark">Python Flask</mark>, что поможет работодателю оценить мою профессиональную подготовку.
    <br>Для его создания были использованы языки программирования <mark class="mark">Python</mark>, <mark class="mark">JS</mark>, <mark class="mark">HTML</mark>, <mark class="mark">CSS</mark>, а также <mark class="mark">Bootstrap</mark> для более привлекательного дизайна.</p>
<p class="about-text">Здесь вы можете ознакомиться с моими фотографиями. Я буду рад, если мои работы пригодятся кому-то еще для их проектов. Однако, прошу учитывать, что при использовании моих фотографий необходимо указать ссылку на данный сайт в качестве источника.</p>
{% endblock %}