{% extends 'base.html' %}
{% block content %}
<div class="row row-cols-1 row-cols-md-3 g-4 text-center">
  {% for img in imgs %}
    <div class="col">
      <div class="card">
        <img class="photos" src="../static/img/{{ img }}" >
      </div>
    </div>
  {% endfor %}
</div>

<div id="fullpage" onclick="this.style.display='none'; this.style.opacity='0'"></div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">LOG IN</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="{{ url_for('add_new_post') }}" method="post" enctype=multipart/form-data>
          <div class="mb-3">
            <input type="password" name="pswd" class="form-control" placeholder="Enter your PIN..." id="recipient-name">
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Send message</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}